<section class="container">
  <h1>Add Book</h1>
  <form name="addBookForm">
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.title.$invalid && addBookForm.title.$touched}"
    >
      <label for="title">Title:</label>
      <input
        type="text"
        class="form-control"
        name="title"
        id="title"
        ng-model="vm.book.title"
        required
        maxlength="100"
      />
      <span
        ng-show="addBookForm.title.$error.required && addBookForm.title.$touched"
        class="help-block"
        >Title is required.</span
      >
      <span ng-show="addBookForm.title.$error.maxlength" class="help-block"
        >Title cannot exceed 100 characters.</span
      >
    </div>
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.publishDate.$invalid && addBookForm.publishDate.$touched}"
    >
      <label for="publishDate">Publish Date:</label>
      <input
        type="date"
        class="form-control"
        name="publishDate"
        id="publishDate"
        ng-model="vm.book.publishDate"
        required
      />
      <span
        ng-show="addBookForm.publishDate.$error.required && addBookForm.publishDate.$touched"
        class="help-block"
        >Publish Date is required.</span
      >
    </div>
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.description.$invalid && addBookForm.description.$touched}"
    >
      <label for="description">Description:</label>
      <textarea
        class="form-control"
        name="description"
        id="description"
        ng-model="vm.book.description"
        required
        maxlength="1000"
      ></textarea>
      <span
        ng-show="addBookForm.description.$error.required && addBookForm.description.$touched"
        class="help-block"
        >Description is required.</span
      >
      <span
        ng-show="addBookForm.description.$error.maxlength"
        class="help-block"
        >Description cannot exceed 1000 characters.</span
      >
    </div>
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.pageCount.$invalid && addBookForm.pageCount.$touched}"
    >
      <label for="pageCount">Page Count:</label>
      <input
        type="number"
        class="form-control"
        name="pageCount"
        id="pageCount"
        ng-model="vm.book.pageCount"
        required
        min="1"
      />
      <span
        ng-show="addBookForm.pageCount.$error.required && addBookForm.pageCount.$touched"
        class="help-block"
        >Page Count is required.</span
      >
      <span ng-show="addBookForm.pageCount.$error.min" class="help-block"
        >Page Count must be at least 1.</span
      >
    </div>
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.author.$invalid && addBookForm.author.$touched}"
    >
      <label for="author">Author:</label>
      <select
        class="form-control"
        name="author"
        id="author"
        ng-model="vm.book.authorId"
        ng-options="author.authorId as (author.name + ' ' + author.surname) for author in vm.authors"
        required
      ></select>
      <span
        ng-show="addBookForm.author.$error.required && addBookForm.author.$touched"
        class="help-block"
        >Author is required.</span
      >
    </div>
    <div
      class="form-group"
      ng-class="{'has-error': addBookForm.availability.$invalid && addBookForm.availability.$touched}"
    >
      <label for="availability">Availability:</label>
      <select
        class="form-control"
        name="availability"
        id="availability"
        ng-model="vm.book.isAvailable"
        ng-options="availability.value as availability.label for availability in vm.availabilityOptions"
        required
      ></select>
      <span
        ng-show="addBookForm.availability.$error.required && addBookForm.availability.$touched"
        class="help-block"
        >Availability is required.</span
      >
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      ng-disabled="addBookForm.$invalid"
      ng-click="vm.addBook()"
    >
      Add
    </button>
    <a ui-sref="books" class="btn btn-default">Cancel</a>
  </form>
</section>
